[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Victor Massé
	email = victor.dhamma@gmail.com
[core]
	pager = cat
	editor = 'C:/Program Files/Sublime Text 3/subl.exe' -w
	autocrlf = input
[log]
  date = relative
[format]
  pretty = format:%Cblue%cn %Creset%s
