[user]
	email = victor.dhamma@gmail.com
	name = Victor Massé
[log]
  date = relative
[format]
  pretty = tformat:%Cgreen%cn %Creset%s %Cred%h
[core]
	pager = cat
	editor = 'C:\\Program Files\\Sublime Text 3\\sublime_text.exe' -w
[winUpdater]
	recentlySeenVersion = 2.19.2.windows.1
[url "https://github.com/"]
	insteadOf = git://github.com/
